@model Win10WebApp.Models.ReceiveTrustMaster
@{
    Layout = null;
}



    <div class="portlet light ">
        <div class="portlet-body form">
            <div class="panel-group accordion" id="receivetrust">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#receivetrust" href="#receivetrust_form"> Details </a>
                        </h4>
                    </div>
                    <div id="receivetrust_form" class="panel-collapse in">
                        <div class="panel-body floating-form">
                            <input type="text" name="Id" value="@Model.Id" style="display: none;" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group floating-label">
                                        <input class="form-control floating-input elementInput" id="date" name="date" value="@Model.Date"
                                               type="text" placeholder=" " onclick="(this.type='date')">
                                        <span class="highlight"></span>
                                        <label>Date</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group floating-label">
                                        <input class="form-control floating-input elementInput" id="issuer" name="issuer" value="@Model.Issuer"
                                               type="text" placeholder=" ">
                                        <span class="highlight"></span>
                                        <label>Issuer</label>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group floating-label">
                                        <input class="form-control floating-input elementInput" id="curr" name="curr" value="@Model.Curr"
                                               type="text" placeholder=" ">
                                        <span class="highlight"></span>
                                        <label>Curr</label>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group floating-label">
                                        <input class="form-control floating-input elementInput" id="prefix" name="prefix" value="@Model.Prefix"
                                               type="text" placeholder=" ">
                                        <span class="highlight"></span>
                                        <label>Prefix</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group floating-label">
                                        <input class="form-control floating-input elementInput" id="startno" name="startno" value="@Model.StartNo"
                                               type="text" placeholder=" " onclick="(this.type='number')">
                                        <span class="highlight"></span>
                                        <label>Start No.</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group floating-label">
                                        <input class="form-control floating-input elementInput" id="nos" name="nos" value="@Model.Nos"
                                               type="text" placeholder=" " onclick="(this.type='number')">
                                        <span class="highlight"></span>
                                        <label>Nos.</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group floating-label">
                                        <input class="form-control floating-input elementInput" id="endno" name="endno" value="@Model.EndNo"
                                               type="text" placeholder=" " onclick="(this.type='number')">
                                        <span class="highlight"></span>
                                        <label>End No.</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group floating-label">
                                        <input class="form-control floating-input elementInput" id="deno" name="deno" value="@Model.Deno"
                                               type="text" placeholder=" " onclick="(this.type='number')">
                                        <span class="highlight"></span>
                                        <label>Deno</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group floating-label">
                                        <input class="form-control floating-input elementInput" id="value" name="value" value="@Model.Value"
                                               type="text" placeholder=" " onclick="(this.type='number')">
                                        <span class="highlight"></span>
                                        <label>Value</label>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


<div class="form-inline">
    <div class="form-group col-sm-offset-1">
        <button type="button" class="btn btn-primary editor_add" id="btnAddAct">Add</button>
        <button type="button" class="btn btn-warning editor_edit" id="btnEditAct">Edit</button>
        <button type="button" class="btn btn-danger editor_delete" id="btnDeleteAct">Delete</button>
        <div class="add-group" style="display: none">
            <button type="button" class="btn btn-success  editor_save" id="btnSaveAct">Save</button>
            <button type="button" class="btn btn-info  editor_cancel" id="btnCancelAct">Cancel</button>
        </div>
    </div>
</div>