@model Win10WebApp.Models.ReceiveTrustMaster
@{
    Layout = null;
}

<div class="row" id="@Win10WebApp.Utility.Constants.MODULES["RECEIVETRUST"]">
    <div class="col-md-14">
        <div class="panel panel-info">
            <div class="panel-heading">
                Receive T.Cs
            </div>
            <div class="panel-body">
                <div id="receiveTrustMasterRoot" class="row page-root" data-mode="view">

                    <!--View Design-->
                    <div id="divDatatable" class="col-sm-8 grid-control">
                        <table class="table display dataTable compact" id="receiveTrustTable">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Issuer
                                    </th>
                                    <th>
                                        Curr
                                    </th>
                                    <th>
                                        Prefix
                                    </th>
                                    <th>
                                        Start No
                                    </th>
                                    <th>
                                        Nos
                                    </th>
                                    <th>
                                        End No
                                    </th>
                                    <th>
                                        Den
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <!--Details Design-->
                    <div id="divAddEdit" class="editor-control col-sm-4">
                        <form id="formAddEdit"></form>
                        <div class="form-inline">
                            <div class="form-group col-sm-offset-1">
                                <button type="button" class="btn btn-primary editor_add" id="btnAddAct">Add</button>
                                <button type="button" class="btn btn-warning editor_edit" id="btnEditAct">Edit</button>
                                <button type="button" class="btn btn-danger editor_delete" id="btnDeleteAct">Delete</button>
                                <div class="add-group">
                                    <button type="button" class="btn btn-success  editor_save" id="btnSaveAct">Save</button>
                                    <button type="button" class="btn btn-info  editor_cancel" id="btnCancelAct">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script type="text/template" id="editDeleteCommandTemplate">
        <span class="editor_edit"><a href="#" data-key="[key]" class="btn-success btn-sm">Edit</a></span>  |  <span class="editor_delete"><a href="#" data-key="[key]" class="btn-danger btn-sm">Delete</a></span>
    </script>*@
<script type="text/javascript">
    var receiveTrustMasterPage = new page.tcMaster.ReceiveTrust("#receiveTrustMasterRoot", {
        tableSelector: "#receiveTrustTable",
        tableSettings: {
            commandDisplay: component.DataTable.CommandDisplayTypes.external,
            dateFormat: "MM-dd-yyyy",
            tableSettings: {
                columns: [
                    { data: "Date", render: "renderDate" },
                    { data: "Issuer" },
                    { data: "Curr" },
                    { data: "Prefix" },
                    { data: "StartNo" },
                    { data: "Nos" },
                    { data: "EndNo" },
                    { data: "Deno" },
                    { data: "Value" }
                ],
                ajax: "@Url.Action("Find")",
                select: true
            }
        },
        detailsPanelSelector: "#divAddEdit",
        formSelector: "#formAddEdit",
        formSettings: { },
        commandSelector: "#divAddEdit div.form-inline",
        commandSettings: {
            addCommandButtonSelector: "button.editor_add",
            editCommandButtonSelector: "button.editor_edit",
            deleteCommandButtonSelector: "button.editor_delete",
            saveCommandButtonSelector: "button.editor_save",
            cancelCommandButtonSelector: "button.editor_cancel"
        },
        addUrl: "@Url.Action("Add")",
        editUrl: "@Url.Action("Edit")/[Id]",
        deleteUrl: "@Url.Action("Delete")/[Id]",
        saveUrl: "@Url.Action("Save")",
        addEditCommandGroupSelector: "#formAddEdit div.form-inline div.add-group"
    });
    receiveTrustMasterPage.initialize();
</script>