@model IEnumerable<Win10WebApp.Models.OtherMaster>
@{
    Layout = null;
}

<div class="row" id="@Win10WebApp.Utility.Constants.MODULES["OTHERMASTER"]">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Currency
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5">

                        <table class="table" id="otherTable">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Type)
                                    </th>
                                   


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                   
                                        <tr class="tbl-row" data-childdata="@Json.Encode(item)" data-actpanel="#left-panel">

                                          
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Type)
                                            </td>


                                        </tr>
                                   
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6" id="left-panel">
                        <div class="portlet light ">
                            <div class="portlet-body form">
                                <div class="panel-group accordion" id="accordion1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1"> Details </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_1" class="panel-collapse in">
                                            <div class="panel-body floating-form">
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group floating-label">
                                                            <input class="form-control floating-input elementInput" data-columnname="NAME"
                                                                   type="text" placeholder=" " disabled>
                                                            <span class="highlight"></span>
                                                            <label>Name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group floating-label">
                                                            <select class="form-control form-control-sm floating-select elementInput" data-columnname="TYPE" onclick="this.setAttribute('value', this.value);" value="">
                                                                <option></option>
                                                                <option value="Reference">Reference</option>
                                                                <option value="Cost Center">Cost Center</option>
                                                                <option value="Category">Category</option>
                                                            </select>
                                                            <span class="highlight"></span>
                                                            <label>Type</label>

                                                        </div>
                                                    </div>
                           

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-actions">
                            <button type="button" class="btn btn-primary left-panelbtn add-btn" data-actpanel="#left-panel">Add</button>
                            <button type="button" class="btn btn-warning left-panelbtn edit-btn">Edit</button>
                            <button type="button" class="btn btn-danger left-panelbtn del-btn">Delete</button>
                            <div class="add-group" style="display: none">
                                <button type="button" class="btn btn-success left-panelbtn save-btn" data-actpanel="#left-panel" id="btnSaveAct">Save</button>
                                <button type="button" class="btn btn-info left-panelbtn cancel-btn" data-actpanel="#left-panel">Cancel</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    freezePanel('#left-panel');
    var otherTable = $('#otherTable').DataTable();

    $(preIndex + ' #btnSaveAct').click(function () {
        var OthersArr = {};
        var hiddenFields = ["Id","Nationality"];
        $(preIndex + " .elementInput").each(function () {
            OthersArr[$(this).data('columnname')] = $(preIndex + ' [data-columnname="' + $(this).data('columnname') + '"]').val();
        });
        addDataToTable(OthersArr, "OtherMasters/SaveOtherMaster", 'otherTable', 'POST', '#left-panel', otherTable, hiddenFields, false)
        //console.log(AccountingArr);

    });
</script>
