@model Win10WebApp.ViewModels.BulkPurchaseViewModel
@{
    Layout = null;
}
@Styles.Render("~/Content/bulkpurchase")

<div class="row" id="@Win10WebApp.Utility.Constants.MODULES["BULKSALE"]">
    <div class="col-md-15">
        @{Html.RenderPartial("~/Views/BulkSale/_billingview.cshtml",Model);}

        <div class="col-md-12">
            <div class="tabbable tabbable-tabdrop">
                <ul class="nav nav-tabs" id="menu-nav">
                    <li class="active">
                        <a href="#bulksaleforexTab" data-toggle="tab">Forex Details</a>
                    </li>
                    <li>
                        <a href="#bulksalepaymentTab" data-toggle="tab">Payment Details</a>
                    </li>

                </ul>
                <div class="tab-content" id="menu-tab">
                    <div class="tab-pane fade in active" id="bulksaleforexTab">
                        @{Html.RenderPartial("~/Views/BulkSale/_forexview.cshtml", Model);}
                    </div>
                    <div class="tab-pane fade" id="bulksalepaymentTab">
                        @{Html.RenderPartial("~/Views/BulkSale/_paymentview.cshtml", Model);}
                    </div>
                </div>
            </div>
        </div>
        <div class="command-panel col-sm-6 col-sm-offset-4">
            <div class="form-action main-command-container">
                <button type="button" class="btn btn-primary editor_add" id="btnMainAddAct" style="width:70px;margin-bottom:15px">Add</button>
                <button type="button" class="btn btn-warning editor_edit" id="btnMainEditAct" style="width:70px;margin-bottom:15px">Edit</button>
                <button type="button" class="btn btn-danger editor_delete" id="btnMainDeleteAct" style="width:70px;margin-bottom:15px">Delete</button>
                <button type="button" class="btn btn-success editor_save" id="btnMainSaveAct" style="width:70px;margin-bottom:15px">Save</button>
                <button type="button" class="btn btn-info editor_cancel" id="btnMainCancelAct" style="width:70px;margin-bottom:15px">Cancel</button>
            </div>
        </div>
        <script type="text/javascript">
            var pageRootSelector = "#@Win10WebApp.Utility.Constants.MODULES["BULKSALE"]";
            var bulkPurchasePage = new page.BulkPurchase(pageRootSelector, {
                billingFormSelector: pageRootSelector + " #bulksalesBillingPanel",
                billingFormSettings: {
                    ffmcSelector: "#FFMCAD",
                    deliveredInSelector: "#DeliveryIn",
                    brokerSelector: "#Broker",
                    dateSelector: "#date",
                    quotaSelector: "#Quota",
                    remarkSelector: "#Remark",
                    referenceSelector: "#Reference",
                    subBrokerSelector: "#SubBroker",
                    costCentreSelector: "#CostCentre"
                },
                forexDetailsSettings: {
                    dataTableSelector: pageRootSelector + " #forexTable",
                    tableSettings: {
                        commandDisplay: component.DataTable.CommandDisplayTypes.external,
                        dateFormat: "MM-dd-yyyy",
                        tableSettings: {
                            dom: "r",
                            columns: [
                                { data: "Id", name: "Sr", render: "renderRowNo" },
                                { data: "CurrencyName", name: "Currency", render: "renderCurrencyName" },
                                { data: "CurrencyNote", name: "As", render: "renderCurrencyNote" },
                                { data: "Quantity" },
                                { data: "Rate" },
                                { data: "GrossAmt" }
                            ],
                            ajax: "@Url.Action("Find")?source=Forex",
                            select: true
                        }
                    },
                    summaryFormSelector: pageRootSelector + " #forexSummaryForm",
                    summaryFormSettings: {
                        grossAmtSelector: "#GrossAmt",
                        fxGstSelector: "#FxGST",
                        tcCardChrgSelector: "#TCCardChrg",
                        srvChrgSelector: "#SrvChrg",
                        srvChrgAmtSelector: "#SrvChrgAmt",
                        stxPercentageSelector: "#STXPercentage",
                        stxAmtSelector: "#STXAmt",
                        chargesTaxSelector: "#ChargesTax",
                        roundOffSelector: "#RoundOff",
                        netPayableSelector: "#NetPayable"
                    },
                    detailsFormSelector: pageRootSelector + " #forexDetailsForm",
                    detailsFormSettings: {
                        currencyNameSelector: "#CurrencyName",
                        currencyNoteSelector: "#CurrencyNote",
                        quantitySelector: "#Quantity",
                        rateSelector: "#Rate",
                        grossAmtSelector: "#GrossAmt",
                        calculatedGrossSelector: "#CalculatedGross",
                        brokerFields: {
                            brokerPaiseSelector: "#BrokerPaise",
                            brokerPaiseAmtSelector: "#BrokerPaiseAmt",
                            brokerCommAmtSelector: "#BrokerCommAmt",
                            brokerTdsPercentageSelector: "#BrokerTDSPercentage",
                            brokerTdsAmtSelector: "#BrokerTDSAmt"
                        },
                        subBrokerFields: {
                            subBrokerPaiseSelector: "#SubBrokerPaise",
                            subBrokerPaiseAmtSelector: "#SubBrokerPaiseAmt",
                            subBrokerCommAmtSelector: "#SubBrokerCommAmt",
                            subBrokerTdsPercentageSelector: "#SubBrokerTDSPercentage",
                            subBrokerTdsAmtSelector: "#SubBrokerTDSAmt"
                        }
                    },
                    commandPanelSelector: pageRootSelector + " .forex-command-container",
                    commandPanelSettings: {
                        addCommandButtonSelector: "#btnAddAct",
                        editCommandButtonSelector: "#btnEditAct",
                        deleteCommandButtonSelector: "#btnDeleteAct",
                        saveCommandButtonSelector: "#btnSaveAct",
                        cancelCommandButtonSelector: "#btnCancelAct"
                    },
                    addUrl: "@Url.Action("Insert")?source=Forex",
                    editUrl: "@Url.Action("Edit")?source=Forex&id=[Id]",
                    deleteUrl: "@Url.Action("Delete")?source=Forex&id=[Id]",
                    saveUrl: "@Url.Action("ForexSave")?action=[action]"
                },
                paymentDetailsSettings: {
                    dataTableSelector: pageRootSelector + " #paymentTable",
                    tableSettings: {
                        commandDisplay: component.DataTable.CommandDisplayTypes.external,
                        dateFormat: "MM-dd-yyyy",
                        tableSettings: {
                            dom: "r",
                            columns: [
                                { data: "Id", name: "Sr", render: "renderRowNo" },
                                { data: "CashBank", name: "Cash/Bank A/c", render: "renderCashBank" },
                                { data: "Type", name: "Rcpt/Payment", render: "renderType" },
                                { data: "ChequeNo", name: "Cheque #" },
                                { data: "ChequeDate", name: "Cheque Date", render: "renderDate" },
                                { data: "Amount", name: "Amount" },
                                { data: "Remark", name: "Remark" }
                            ],
                            ajax: "@Url.Action("Find")?source=Payment",
                            select: true
                        }
                    },
                    detailsFormSelector: pageRootSelector + " #paymentDetailsForm",
                    detailsFormSettings: {
                        cashBankSelector: "#CashBank",
                        typeSelector: "#Type",
                        chequeNoSelector: "#ChequeNo",
                        chequeDateSelector: "#ChequeDate",
                        amountSelector: "#Amount",
                        remarkSelector: "#Remark",
                        bankSelector: "#Bank",
                        dateSelector: "#Date",
                        netPayableSelector: "#NetPayable",
                        totalPendingAmountSelector: "#TotalPendingAmount",
                        balanceAmountSelector: "#BalanceAmount"
                    },
                    commandPanelSelector: pageRootSelector + " .payment-command-container",
                    commandPanelSettings: {
                        addCommandButtonSelector: "#btnAddAct",
                        editCommandButtonSelector: "#btnEditAct",
                        deleteCommandButtonSelector: "#btnDeleteAct",
                        saveCommandButtonSelector: "#btnSaveAct",
                        cancelCommandButtonSelector: "#btnCancelAct"
                    },
                    addUrl: "@Url.Action("Insert")?source=Payment",
                    editUrl: "@Url.Action("Edit")?source=Payment&id=[Id]",
                    deleteUrl: "@Url.Action("Delete")?source=Payment&id=[Id]",
                    saveUrl: "@Url.Action("PaymentSave")?action=[action]"
                },
                commandPanelSelector: pageRootSelector + " .main-command-container",
                commandPanelSettings: {
                    addCommandButtonSelector: "#btnMainAddAct",
                    editCommandButtonSelector: "#btnMainEditAct",
                    deleteCommandButtonSelector: "#btnMainDeleteAct",
                    saveCommandButtonSelector: "#btnMainSaveAct",
                    cancelCommandButtonSelector: "#btnMainCancelAct"
                },
                addUrl: null,
                editUrl: null,
                deleteUrl: null,
                saveUrl: "@Url.Action("Save")?action=[action]",
                cancelUrl: null
            });
            bulkPurchasePage.initialize();
        </script>
    </div>
</div>
